[user]
        name = Anirudh Konduru
        email = anirudhmkonduru@gmail.com

[include]
        path = .work.gitconfig

[alias]
        c = commit -s
        l = log --graph --all --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset'

