[user]
    name = Anirudh Konduru
    email = anirudhmkonduru@gmail.com
	signingkey = B3C5D134306DE1670A0984DC804D446E6E640E64

[include]
    path = .work.gitconfig

[alias]
    c = commit -s
    l = log --graph --all --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset'

[gpg]
	program = gpg
