[user]
	name = Anirudh Konduru
	email = anirudhmkonduru@gmail.com
	signingkey = 672A9B6D556CC743

[alias]
	c = commit -S 
	l = log --graph --branches --remotes --tags --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%C(green) %G?%Creset'
	ll = log --graph --branches --remotes --tags --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %<(30,trunc)%s %C(cyan)<%an>%C(green) %G?%Creset'
	sb = status -sb
	del-dangling-commits = "!sh git reflog expire --expire-unreachable=now --all && git gc --prune=now"

[gpg]
	program = gpg

[include]
	path = .override.gitconfig

[core]
	autocrlf = false
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictStyle = zdiff3
